Importando Librerias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import calendar
from scipy.stats import f_oneway

Importando DataFrames

In [2]:
df05 = pd.read_csv("./DataFrames/UVA_2005.csv")
df10 = pd.read_csv("./DataFrames/UVA_2010.csv")
df15 = pd.read_csv("./DataFrames/UVA_2015.csv")
df20 = pd.read_csv("./DataFrames/UVA_2020.csv")
df21 = pd.read_csv("./DataFrames/UVA_2021.csv")

Imprimir nombre de las columnas

In [3]:
print(df05.columns)

Index(['Date', 'cve_station', 'parameter', 'value', 'unit', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

Creando nuevas DataFrames solo con las columnas *Date* y *value* y limpiandola de los valores NaN

In [4]:
data05 = df05[["Date", "value"]].dropna()
data10 = df10[["Date", "value"]].dropna()
data15 = df15[["Date", "value"]].dropna()
data20 = df20[["Date", "value"]].dropna()
data21 = df21[["Date", "value"]].dropna()

Convirtiendo a formato Datetime de pandas la columna Date

In [5]:
data05['Date'] = pd.to_datetime(data05['Date'], format='%d/%m/%Y %H:%M', errors='coerce')
data10['Date'] = pd.to_datetime(data10['Date'], format='%d/%m/%Y %H:%M', errors='coerce')
data15['Date'] = pd.to_datetime(data15['Date'], format='%d/%m/%Y %H:%M', errors='coerce')
data20['Date'] = pd.to_datetime(data20['Date'], format='%d/%m/%Y %H:%M', errors='coerce')
data21['Date'] = pd.to_datetime(data21['Date'], format='%d/%m/%Y %H:%M', errors='coerce')

Agrupando los datos por mes y calculando máximo

In [6]:
data05MaxMes = data05.groupby(data05['Date'].dt.to_period('M')).max()
data10MaxMes = data10.groupby(data10['Date'].dt.to_period('M')).max()
data15MaxMes = data15.groupby(data15['Date'].dt.to_period('M')).max()
data20MaxMes = data20.groupby(data20['Date'].dt.to_period('M')).max()
data21MaxMes = data21.groupby(data21['Date'].dt.to_period('M')).max()

Calculando media

In [7]:
data05Mean = data05MaxMes.groupby(data05MaxMes['Date'].dt.to_period('M')).mean()
data10Mean = data10MaxMes.groupby(data10MaxMes['Date'].dt.to_period('M')).mean()
data15Mean = data15MaxMes.groupby(data15MaxMes['Date'].dt.to_period('M')).mean()
data20Mean = data20MaxMes.groupby(data20MaxMes['Date'].dt.to_period('M')).mean()
data21Mean = data21MaxMes.groupby(data21MaxMes['Date'].dt.to_period('M')).mean()

C:\Users\zdesp\AppData\Local\Temp\ipykernel_8372\2937616212.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data05Mean = data05MaxMes.groupby(data05MaxMes['Date'].dt.to_period('M')).mean()
C:\Users\zdesp\AppData\Local\Temp\ipykernel_8372\2937616212.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data10Mean = data10MaxMes.groupby(data10MaxMes['Date'].dt.to_period('M')).mean()
C:\Users\zdesp\AppData\Local\Temp\ipykernel_8372\2937616212.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data15Mean = data15MaxMes.groupby(data15MaxMes['Date'].dt.to_period('M')).mean()
C:\Users\zdesp\AppData\Local\Temp\ipykernel_8372\2937616212.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data20Mean = data20MaxMes.groupby(data20MaxMes['Date'].dt.to_period('M')).mean()
C:\Users\zdesp\AppData\Local\Temp\ipykernel_8372\2937616212.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data21Mean = data21MaxMes.groupby(data21MaxMes['Date'].dt.to_period('M')).mean()

Creando una columna con los meses del año

In [8]:
months = list(calendar.month_name)[1:]

data05Mean.insert(0, "month", months)
data10Mean.insert(0, "month", months)
data15Mean.insert(0, "month", months)
data20Mean.insert(0, "month", months)
data21Mean.insert(0, "month", months)

Asignando a una variables las columnas month y value sin index

In [9]:
df2005 = data05Mean.reset_index()[['month', 'value']]
df2010 = data10Mean.reset_index()[['month', 'value']]
df2015 = data15Mean.reset_index()[['month', 'value']]
df2020 = data20Mean.reset_index()[['month', 'value']]
df2021 = data21Mean.reset_index()[['month', 'value']]

In [10]:
print(df2005)

        month  value
0     January  4.320
1    February  5.531
2       March  5.819
3       April  5.855
4         May  5.796
5        June  5.927
6        July  6.067
7      August  6.026
8   September  5.838
9     October  5.317
10   November  4.636
11   December  4.021

Concatenando DataFrames

In [11]:
df_concat = pd.concat([df2005['value'], df2010['value'], df2015['value'], df2020['value'], df2021['value'],], axis=1, keys=['2005', '2010', '2015', '2020', '2021'])
df_concat.insert(0, "month", months)
print(df_concat)

        month   2005   2010   2015    2020   2021
0     January  4.320  4.981  5.966  4.6760  4.500
1    February  5.531  5.897  6.342  5.4080  5.132
2       March  5.819  6.230  7.828  5.7830  5.576
3       April  5.855  6.385  7.305  5.9705  5.963
4         May  5.796  6.255  6.720  6.0000  6.153
5        June  5.927  6.635  7.229  6.3370  6.211
6        July  6.067  6.812  7.012  6.3070  6.239
7      August  6.026  6.497  7.651  6.3650  6.418
8   September  5.838  6.533  6.999  6.0060  5.882
9     October  5.317  5.957  6.417  5.6860  5.649
10   November  4.636  5.117  6.345  4.8130  4.896
11   December  4.021  4.565  5.238  4.3140  4.311

In [12]:
anova = pd.concat([df2005['value'], df2010['value'], df2015['value'], df2020['value'], df2021['value'],], axis=1, keys=['2005', '2010', '2015', '2020', '2021'])
print(anova)

     2005   2010   2015    2020   2021
0   4.320  4.981  5.966  4.6760  4.500
1   5.531  5.897  6.342  5.4080  5.132
2   5.819  6.230  7.828  5.7830  5.576
3   5.855  6.385  7.305  5.9705  5.963
4   5.796  6.255  6.720  6.0000  6.153
5   5.927  6.635  7.229  6.3370  6.211
6   6.067  6.812  7.012  6.3070  6.239
7   6.026  6.497  7.651  6.3650  6.418
8   5.838  6.533  6.999  6.0060  5.882
9   5.317  5.957  6.417  5.6860  5.649
10  4.636  5.117  6.345  4.8130  4.896
11  4.021  4.565  5.238  4.3140  4.311

Aplicando ANOVA

In [13]:
result = f_oneway(*[anova[col] for col in anova])


print('Estadística F:', result.statistic)
print('Valor p:', result.pvalue)

Estadística F: 6.635726519774801
Valor p: 0.00019712498189864864